/* Home Container */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #a9ddf8;
  padding-top: 5rem;
  gap: 1rem;
  width: 60%;
  margin: auto;
}

.home-container h1 {
  font-size: 3rem;
}

/* Todo List */
.todo-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Todo List Item (li) */
.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #232933;
  padding: 10px 0;
  border-radius: 5px;
}

.list-item div {
  text-align: center;
  flex-basis: 300px;
}

/* New Todo BTN */
.todo-list a.new-btn {
  background: #a9ddf8;
  display: flex;
  width: 100%;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding: 7px 0;
  color: #232933;
  border: 2px solid transparent;
  transition: all 0.3s;
}

.todo-list a.new-btn:hover {
  color: #a9ddf8;
  border-color: #a9ddf8;
  background-color: transparent;
}

/* Actions Buttons */
.actions {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.actions a {
  background-color: #a9ddf8;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border-radius: 50%;
  color: #232933;
  border: 2px solid transparent;
  transition: all 0.3s;
}

.actions a:hover {
  border-color: #a9ddf8;
  color: #a9ddf8;
  background: transparent;
}

.btn {
  width: 100%;
}

/* Active and pending */
.pending {
  color: orangered;
}

.done {
  color: green;
}

/* Media Querries Mobile devices */
@media screen and (max-width: 767px) {
  .home-container {
    width: 100%;
  }

  .list-item {
    padding: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .home-container {
    width: 100%;
  }
}
